# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Kavaratti,IN,80.37,overcast clouds,10.5669,72.6420,Green leaf
1,10,Georgetown,MY,80.24,moderate rain,5.4112,100.3354,Cititel Penang
2,17,Jibuti,DJ,75.87,clear sky,11.5000,42.5000,Orchid Main Camp Goubet
3,22,Atuona,PF,77.90,clear sky,-9.8000,-139.0333,Villa Enata
4,26,Vaini,TO,75.92,moderate rain,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...,...
185,690,Ugoofaaru,MV,81.81,broken clouds,5.6667,73.0000,Ungoofaaru Inn
186,693,Itarema,BR,88.36,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
187,696,Sabla,NG,87.42,clear sky,12.7525,4.7077,NaN
188,700,Taiobeiras,BR,80.73,overcast clouds,-15.8078,-42.2331,Dallas Hotel
189,708,Vila Velha,BR,85.95,scattered clouds,-20.3297,-40.2925,Hotel Vitória Palace

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
import collections
collections.Iterable = collections.abc.Iterable

In [8]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [10]:
vacation_spots= vacation_df.loc[vacation_df["Country"] == "IN"]
vacation_spots

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Kavaratti,IN,80.37,overcast clouds,10.5669,72.6420,Green leaf
48,179,Gurmatkal,IN,75.67,overcast clouds,16.8667,77.4000,Patange Enterprises
102,420,Srivardhan,IN,77.00,scattered clouds,18.0333,73.0167,Savli Resort/Hotel - Shrivardhan
103,426,Port Blair,IN,80.40,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
120,483,Dwarka,IN,79.95,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
148,562,Yanam,IN,77.85,clear sky,16.7333,82.2167,The Regency Hotel
150,572,Manavalakurichi,IN,78.64,very heavy rain,8.1333,77.3000,Jebinrio home
177,666,Malpe,IN,81.70,overcast clouds,13.3500,74.7167,Hotel Sri Krishna Residency

In [11]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Yanam"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Yanam"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Gurmatkal"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Srivardhan"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Malpe"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [13]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [16]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")

# Add the layer to the map
fig.add_layer(vacation_itinerary) 

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [17]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,562,Yanam,IN,77.85,clear sky,16.7333,82.2167,The Regency Hotel
1,179,Gurmatkal,IN,75.67,overcast clouds,16.8667,77.4000,Patange Enterprises
2,420,Srivardhan,IN,77.00,scattered clouds,18.0333,73.0167,Savli Resort/Hotel - Shrivardhan
3,666,Malpe,IN,81.70,overcast clouds,13.3500,74.7167,Hotel Sri Krishna Residency

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [18]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))